<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unsubscribe from Akiverse mails</title>
  </head>
  <body>
    <h1>Unsubscribe</h1>
    <p>Click below to unsubscribe <%= data.email %> from this mailing list.</p>
    <form method="POST">
      <input type="text" hidden="true" name="token" value="<%= data.token %>" />
      <input type="submit"/>
    </form>
  </body>
</html>
